.home-container {
    padding: 16px;
    background: linear-gradient(to bottom, #c5c0e0 60%, #e8e6f2 0%);
}

.greeting-text {
    margin-bottom: 8px;
    display: flex;
    font-size: 1.5rem;
    font-family: var(--font-family-secondary);
}

.subtitle-text {
    margin-bottom: 32px;
    font-size: 1rem;
    font-family: var(--font-family-secondary);
}

.cards-grid {
    width: 100%;
    padding-top: 1rem;
}

.dashboard-card {
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    height: 100%;
}

.card-content {
    padding: 16px !important;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-main-content {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    gap: 13px;
    width: 150px;
}

.card-text {
    display: flex;
    flex: 1;
}

.card-title {
    font-size: var(--default-font-size);
}

.card-value-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.card-value {
    font-weight: 600;
    margin: 0;
}

.card-icon-container {
    border-radius: 12px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.dashboard-card {
    flex: 1 1 calc(33.333% - 16px);
    min-width: 250px;
    cursor: pointer;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.dashboard-card:hover {
    transform: scale(1.02);
}

.class-section-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.class-card {
    flex: 1 1 calc(25% - 16px);
    min-width: 200px;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: 12px;
}

.class-title {
    font-size: 20px;
    color: var(--primary-purple-800);
    font-weight: bold;
    margin-bottom: 8px;
}

.total-text {
    display: flex;
    align-items: center;
    color: var(--primary-purple-600);
}

.present-text {
    display: flex;
    align-items: center;
    color: var(--secondary-color);
    font-weight: 500;
}

.absent-text {
    display: flex;
    align-items: center;
    color: var(--accent-color);
    font-weight: 500;
}

.class-section-value {
    display: flex;
    font-size: 20px;
    font-weight: bold;
    margin-left: 6px;
}

.section-title {
    display: flex;
    font-size: 24px;
    color: var(--primary-purple-800);
    font-weight: bold;
}

.section-sub-title {
    display: flex;
    font-size: 24px;
    color: var(--primary-purple-800);
    margin: 1rem 0;
    font-weight: bold;
}

.dashboard-container .divider {
    margin: 1rem 0;
}

.class-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-bottom: 1rem;
}

.section-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin: 1rem 0;
}

.section-cards-row {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin: 1rem 0;
    justify-content: flex-start;
}