.teacher-header-container {
  top: -16px;
  position: sticky;
  z-index: 1000;
  background-color: white;
}

.teacher-header {
  background-color: #f5f5f5;
  padding: 8px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
}

.list-header-title {
  font-size: 1.5rem;
  font-weight: var(--bold-font-weight);
  color: var(--primary-purple-600);
  font-family: var(--font-family);
}